* {
    font-family: Mulish;
    font-style: normal;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h1 {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    margin: 50px;

}

nav>ul {
    display: flex;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-weight: 400;

}

nav li {
    list-style: none;
    margin-right: 30px;
}

span {
    color: #FF5400;
}

/* header image style */
.header-container {
    background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1170px;
    height: 500px;
    border-radius: 16px;
    margin: 0 auto;
    text-align: center;
}

.heaader-h1 {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    line-height: normal;
    margin-top: 10px;
    padding-top: 100px;

}

.paragraph {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;


}

.button {
    margin: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    display: inline-flex;
    gap: 24px;
    border-radius: 8px;

}

.btn-primary {
    border-radius: 8px;
    background: #FFF;
    width: 164px;
    height: 40px;
}

.btn-primary input {
    text-align: center;
    width: 98%;
    border-style: none;
}

.btn-primary-1 input {
    text-align: center;
    width: 98%;
    border-style: none;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
}

/*  section container style */
.section-container {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
}

.section-container-h1 {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;

}

.paragraph1 {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

.btn-2 {
    width: 160px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
}

.section-container-contant li {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
}

.section-container-img {
    width: 540px;
    height: 550px;
    flex-shrink: 0;
    border-radius: 16px;
    padding-left: 50px;
}

/* style for phone */
 @media screen and (max-width:600px) {
    .header-h1 {
        padding: 20px;
    }

    nav {
        flex-direction: column;
        padding-left: 10px;
    }

    .header-container {
        width: 100%;
        height: 100%;
    }

    .header-container .button {
        flex-direction: column;
    }

    .btn-primary-1 {
        margin-right: 20px;

    }

     .section-container {
        flex-direction: column;
        width: 100%;
        margin-left: 10px;
    }

    .section-container-img {
        width: 80%;
        padding-left: 10px;
        margin-top: 15px;
        
    }
}   